{$API_DOMAIN} {
  encode gzip

  reverse_proxy gateway:8080

  tls {$LETSENCRYPT_EMAIL}
}

{$CLIENT_DASHBOARD_DOMAIN:localhost} {
  encode gzip

  root * /srv/client-dashboard
  try_files {path} /index.html
  file_server
}
